@import './main/stylesheet.scss';
@import '../scss/components/explore.scss';
@import '../scss/components/subscribe.scss';
@import '../scss/components/footer.scss';


* { box-sizing: border-box; 
    padding: 0;
    margin: 0; }

.container {
        max-width: 1270px;
        margin: 0 auto;
        padding: 0 15px;
    
}
    
.gray { 
    background: #E5E5E5;
}
