




section.gradient 
    .container 
        .header 
            .header__name 
                span.logo GoTrieop
            .header__nav
                a.link(href="#") Home
                a.link(href="#") Services
                a.link(href="#") Pricing
                a.link(href="#") Contack
            .header__btn
                a.btn(href="#") Sign up
                a.btn(href="#") Login
        .explore 
            p.sup__title exsplore the world
            h1.title  Explore The Natural Beauty Of Halmahera With Us
            p.sub__title explore the beauty of god's earth in a beautiful forest and have fun
            a.btn__exsp Exsplore Now
            
        

