section.gray
    .container  
        .footer
            .footer__name 
                span.footer__logo GoTrieop
            .footer__nav
                a.footer__link(href="#") Home
                a.footer__link(href="#") Services
                a.footer__link(href="#") Pricing
                a.footer__link(href="#") Contack
            .footer__batton
                a.footer__btn(href="#") Sign up
                a.footer__sbtn(href="#") Login
            
            