section.gray 
    .container  
        .prepare 
            p.prepare__title Prepare Yourself And 
            p.prepare__title Start Exploring With Us.
            p.prepare__untitle There's the best discount for you today.
            a(href="#").prepare__btn Get Started