section.gray 
    .container 
        .star
            .star__block_1
                img.star__map(src="./assets/imgs/map.png", alt="Тут должна быть фотка, но ее почему-то нет памагите")
            .star__block_2
                h2.star__title What do customers say about us?
                .star__item
                    img.star__avatar(src="./assets/imgs/avatar.png", alt="Тут должна быть фотка, но ее почему-то нет памагите")
                    .star__item_1
                        h3.star__hobby Alpanasap
                        h4.star__name Japung, Indonesia
                h4.star__comment Very satisfying service makes it comfortable, a beautiful place in the world.
                img.star__stars(src="./assets/imgs/stargo.png", alt="")
                img.star__stars(src="./assets/imgs/stargo.png", alt="")
                img.star__stars(src="./assets/imgs/stargo.png", alt="")
                img.star__stars(src="./assets/imgs/stargr.png", alt="")
                img.star__stars(src="./assets/imgs/stargr.png", alt="")

