section.gray 
    .container 
        .star
            img.star__map(src="./assets/imgs/map.png", alt="Тут должна быть фотка, но ее почему-то нет памагите")
            h2.star__title What do customers say about us?
            img.star__avatar(src="./assets/imgs/avatar.png", alt="Тут должна быть фотка, но ее почему-то нет памагите")
            h3.star__hobby Alpanasap
            h4.star__name Japung, Indonesia
            h4.star__comment Very satisfying service makes it comfortable, a beautiful place in the world.
            img(src="./assets/imgs/stargo.png", alt="")
            img(src="./assets/imgs/stargo.png", alt="")
            img(src="./assets/imgs/stargo.png", alt="")
            img(src="./assets/imgs/stargr.png", alt="")
            img(src="./assets/imgs/stargr.png", alt="")

