//section.gray 
    .container 
        .subscribe
            h1.subscribe__title Subscribe To Our Newsletter 
            input.subscribe__email(type="text" placeholder="Yourmail@mail.com") 
            input.subscribe__btn(type="submit" value="Subscribe")
        .subscribe 
            h1.subscribe__title Subscribe To Our Newsletter
            .subscribe__form
                a.subscribe__email Yourmail@mail.com
                a.subscribe__btn Subscribe


