


section.gray 
    .container  
        .subscribe
            h1.subscribe__title Subscribe 
            h1.subscribe__title To Our Newsletter
            .subscribe__form 
                input(type="text" placeholder="Yourmail@mail.com").subscribe__email 
                button.subscribe__btn Subscribe
