section.gray 
    .container 
        .block 
            h1.block__suptitle Choice Of
            h1.block__title Destinations
            p.block__subtitle explore the beauty of god's earth in a beautiful forest and have fun
            a(href="#").block__btn Exsplore Now
        .swiper
            .swiper-wrapper
                .swiper-slide 
                    img(src="./assets/imgs/man.png", alt="")
                .swiper-slide 
                    img(src="./assets/imgs/road.png", alt="")
                .swiper-slide 
                    img(src="./assets/imgs/man.png", alt="")
            
            .swiper-button-prev
            .swiper-button-next
            .swiper-pagination


