doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./assets/css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.js")
        title Document
    body 
        
        include ./components/explore.pug
        include ./components/swiper.pug
        include ./components/star.pug
        include ./components/prepare.pug
        include ./components/subscribe.pug
        include ./components/footer.pug

        script(src="./assets/js/app.js") 
        

       
            
        

        
     

